* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    
}

.title {
    transition: all 0.75s ease-out;
}

.card {
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 31rem;
    padding: 0rem 5rem;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sneaker img {
    width: 20rem;
    margin-left: -3rem;
    padding-top: 2rem;
    transition: all 0.75s ease-out;
}

.circle{
    width: 14rem;
    height: 14rem;
    background: linear-gradient(
        to right,
        rgba(245,70,60,0.75),
        rgba(8,83,165,0.75)
    );
    position: absolute;
    border-radius: 50%;
}


.info h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
    
}

.sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}

.sizes button{
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}

button.active {
    background-color: #585858;
    color: white;
}

.purchase{
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.purchase button{
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 30px;
    transition: all 0.75s ease-out;
}

button:hover{
    background-color: #585858;
    color: white;
}

.purchase button:hover{
    background-color: #f22a27;
}